*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/docs
/public/storage
/public/css
/public/js
/public/vendor
/storage/*.key
/storage/pail
/reports
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

/resources/views/modules
npm-debug.log
.php-cs-fixer.cache
/*.csv
/*.sql
*.crt
*.pfx
*.pem
*.key
/storage/app/modules/modules.used
.astro/
.output/
dist/
