{
  "singleQuote": true,
  "proseWrap": "always",
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-blade"
  ],
  "semi": true,
  "arrowParens": "always"
}
