includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
    - config
  level: 8
  excludePaths:
    - %rootDir%/../../../*/node_modules/*
  ignoreErrors:
#    -
#      identifier: missingType.iterableValue
